<div class="jumbotron center">
	<h1>Welcome </h1> 

	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>

<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>

</div>





<ul class="pagination pagination-lg">  
<button type="button" class="btn btn-default btn-lg">On Site</button>



<button type="button" class="btn btn-default btn-lg">Off Site</button>










</ul>






<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
        <h3>New York </h3>
        <p>The apple of the city. House for sale !</p>
        <p><a href="#" class="btn btn-primary" role="button">See More</a> 
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
        <h3>Boston </h3>
        <p>Rooms for rent !</p>
        <p><a href="#" class="btn btn-primary" role="button">See More</a> 
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
        <h3>Miami </h3>
        <p>Rooms by the beach for rent ! </p>
        <p><a href="#" class="btn btn-primary" role="button">See More</a> 
    </div>
  </div>
</div>





